/* General */

:root {
  --main: #f72210;
  --grey: rgba(3,3,3,.5);
}

body {
  width: 100vw;
  max-width: 100%;
  background: #f4f5f6 !important;
}

.wrapper {
  max-width: 1310px;
  background: #fff;
  font-size: .95rem;
}

.text-hide.logo {
  background-color: var(--main);
  background-image: url('assets/logo-n1.svg');
  background-position: center;
  width: 40px;
  height: 30px;
  background-repeat: no-repeat;
}

/* Header */

header {
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}

header a {
  color: #000;
}

header a:hover {
  color: var(--main);
}

.header__top {
  background: var(--main);
}

.header__logo {
  width: 400px;
  fill: #fff;
}

.header__top,
.header__top a,
.login_button {
  color: #fff;
}

.header__top a,
.header__top button,
.trending {
  font-weight: 700;
}

.login_button,
.subscribe_button {
  font-size: 1.2rem;
  font-weight: 700;
}

.subscribe_button {
  background: #ffe400;
  border-radius: 24px;
  outline: none;
  border: none;
}

header .nav-link {
  font-size: 1.2rem;
  font-weight: 700;
}

.main_nav li {
  border-right: 1px solid #ddd;
  flex-grow: 1;
  text-align: center;
}

.main_nav input {
  max-width: 70px;
}

.search {
  border: none;
}

.trending a {
  color: #807f84;
}

.trending a:hover {
  text-decoration: none;
}

.trending {
  font-size: 1.05rem;
}

.row__trending {
  border-top: 2px solid #f4f5f6;
  border-bottom: 2px solid #f4f5f6;
}

/* Navbar */

header .navbar {
  background: var(--main);
  height: 50px;
}

.navbar-brand svg {
  height: 20px;
  fill: #fff;
}

.navbar .navbar-toggler {
  border: none;
}

.navbar .navbar-toggler:focus {
  outline: none;
}

#navbar_content {
  width: 220px;
  height: calc(100vh - 50px);
  position: fixed;
  top: 50px;
  right: 0;
  background: #fff;
  box-shadow: rgba(0,0,0,.1) -2px 0 2px;
  z-index: 1;
}

#navbar_content li {
  border-right: none;
  position: relative;
}

#navbar_content a {
  padding: .25rem 1rem;
}

.main_nav__categories a:after {
  font-family: "Font Awesome 5 Free";
  content:"\f105";
  position: absolute;
  right: 1rem;
  color: rgba(3,3,3,.5);
}

.main_nav__categories a:hover:after {
  color: var(--main);
}

.main_nav__categories a:hover {
  color: #fff;
  background-color: #000;
}

#navbar_content .nav__trending a {
  font-weight: normal;
  font-size: 1.1rem;
  color: #807f84;
  padding: 0 1rem;
}

/* Main */

main h2 {
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: var(--grey);
}

@media all and (max-width: 992px) {
  main {
    padding-top: 75px;
  }
}

/*Articles*/

.article.card {
  border: none;
}

.article__image {
  position: relative;
}

.article__category {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255,.9);
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: var(--main);
}

.article__title h3,
.subscribe .card-body h3,
.newsletter .card-body h3 {
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 1.35rem;
  font-weight: 700;
}

.article__title h3:hover {
  text-decoration: underline var(--main);
  cursor: pointer;
}

/* Featured Stories */

.featured_stories,
.sticky_col {
  position: sticky;
  align-self: flex-end;
  bottom: 0;
}

.col1,
.col3 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  
}

/* More Stories */

.more_stories .article__title h3 {
  font-size: 1.065rem;
}

.more_stories article {
  border-top: 1px solid #ddd;
}

/* The Debate & Opinion */

.debate .article__title h3,
.opinion .article__title h3 {
  font-size: 1.05rem;
}

.debate .article__author,
.opinion .article__author,
.debate__vs {
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-size: .9rem;
}

.opinion .article__author {
  color: #555;
}

.opinion article {
  border-top: 1px solid #ddd;
}

.debate__vs {
  color: #d6d6d6;
  width: 32px;
  height: 32px;
  z-index: 1;
}

.debate__decoration:before {
  content:"";
  width: 100%;
  height: 1px;
  background: #d6d6d6;
  display: inline-block;
  position: absolute;
  top: 16px;
}

.debate__decoration:after {
  content:"";
  width: 100%;
  height: 1px;
  background: #d6d6d6;
  display: inline-block;
  position: absolute;
  top: 18px;
}

.debate__border {
  border-top: 4px solid #d9d9d9;
  border-bottom: 4px solid #d9d9d9;
}

/* Subscribe Box */

.newsletter__subscribe {
  background: #f4f5f6;
  border: 1px solid #e5e5e5;
  max-width: 300px;
}

.form__title h3 {
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

/* My Turn - Culture & Travel */

.my_turn .article__title h3,
.culture_travel .article__title h3 {
  font-size: 1rem;
  color: var(--grey);
}

.my_turn .article__title h3:hover,
.culture_travel .article__title h3:hover {
  text-decoration: none;
}

/* Culture & Travel */

.culture_travel .article__category {
  background-color: #c2d4d7;
  font-size: .85rem;
  color: #333;
}

/* Magazine */

.magazine > h2,
.editors_pick > h2 {
  font-size: 1.2rem;
  color: #333;
  border-bottom: 1px solid #d9d9d9;
}

.magazine__type,
.magazine__category,
.see_all {
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-size: 1.05rem;
  font-weight: 700;
}

.magazine__type {
  color: #fff;
  background: var(--main);
}

.magazine__category {
  color: var(--main);
}

.magazine .card-img-top {
  height: 300px;
  object-fit: cover;
}

.magazine .article__title h3 {
  font-size: 1.15rem;
}

.see_all {
  background-color: #f4f5f6;
  color: #000;
  font-size: 1.1rem;
}

/* Other Categories */

.categories h2 {
  font-size: 1.4rem;
  color: var(--main);
}

.categories section {
  border-top: 1px solid #ddd;
}

.categories .media {
  border-top: 1px solid #ddd;
}

.categories .media:first-child {
  border-top: none;
}

.list .media img {
  max-width: 95px;
}

.list .article__title h3 {
  font-size: 1.05rem;
}

/* Subscribe & Newsletter */

.subscribe h2,
.newsletter h2 {
  color: var(--main);
}

.subscribe button,
.newsletter button,
.newsletter__subscribe button {
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  background: var(--main);
  color: #fff;
}

.subscribe button:hover,
.newsletter button:hover,
.newsletter__subscribe button:hover {
  color: #fff;
}

.newsletter img {
  object-fit: cover;
}

.subscribe .card {
  background: #f4f5f6;
  border-color: #f4f5f6;
}

/*Footer*/

footer {
  border-top: 2px solid #f4f5f6;
}

footer,
footer a {
  color: #666;
}

footer a:hover {
  color: #000;
  text-decoration: none;
}

.footer__logo {
  width: 250px;
  fill: var(--main);
}

.footer__socials {
  font-size: 1.5rem;
}

.footer__top {
  border-bottom: 1px solid #ddd;
}

.languages .list-inline-item,
.terms .list-inline-item {
  border-left: 1px solid #ddd;
}